@font-face {
  font-family: "Norse-Bold";
  src: url("../fonts/Norse-Bold.woff2"), url("../fonts/Norse-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
/* Defaults */
:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}
a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
/* typography */
:root {
  --text-small: 0.75rem;
  --text-regular: 1rem;
  --text-medium: 2rem;
  --text-large: 4rem;
}

/* Body */
body {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}
/* Header */
header {
  position: relative;
  flex: 0 calc(100% / 3);
  height: 100vh;
}
/* Decorative Background */
.decorative-background {
  position: relative;
  height: 100%;
}
.decorative-background img {
  background: pink;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.decorative-background figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  color: azure;
  font-size: var(--text-small);
}

/* Brand */
.brand {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
}
.brand-logo {
  width: 20%;
  display: inline-block;
}
.brand-text {
  font-family: "Norse-bold", serif;
  color: white;
  font-size: 4rem;
}

/* Microcopy */

.microcopy p {
  font-weight: 500;
  max-width: 52ch;
}
.microcopy p + p {
  margin-top: 1rem;
}
/* Main */
main {
  background-color: #f9fafb;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}

/* Main padding */
.microcopy,
form {
  padding: 1rem 2rem;
}
/* H1 */
h1 {
  font-size: var(--text-medium);
}
/* Form */
form {
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 4px 10px 0px #b3b1b1be;
  position: relative;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: min(90%, 500px);
}

fieldset label {
  flex: 1 1 calc(50% - 0.5rem);
  display: flex;
  flex-direction: column;
  font-size: var(--text-small);
  align-items: flex-start;
}

fieldset input {
  width: 100%;
  font-size: var(--text-regular);
}
button {
  margin-left: 2rem;
  font-size: var(--text-medium);
  padding: 0.5rem 1rem;
  color: white;
  background-color: #596d48;
  border-radius: 3px;
}
